<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">
        <img
          id="profile-img"
          src="https://fakeimg.pl/449x449/"
          class="online"
          alt=""
        />
        <p>{{ currentUser }}</p>
        <!-- <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i> -->
        <!-- <div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div> -->
        <!-- <div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
				</div> -->
      </div>
    </div>
    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input
        #kw
        type="text"
        [(ngModel)]="contactFilter"
        placeholder="Search contacts..."
        (input)="filterContact(kw.value)"
      />
    </div>

    <!-- sample -->
    <!-- <div id="contacts">
      <ul>
        <li class="contact">
          <div class="wrap">
            <span class="contact-status online"></span>
            <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
            <div class="meta">
              <p class="name">Louis Litt</p>
              <p class="preview">You just got LITT up, Mike.</p>
            </div>
          </div>
        </li>
        <li class="contact active">
          <div class="wrap">
            <span class="contact-status busy"></span>
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
            <div class="meta">
              <p class="name">Harvey Specter</p>
              <p class="preview">
                Wrong. You take the gun, or you pull out a bigger one. Or, you
                call their bluff. Or, you do any one of a hundred and forty six
                other things.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div> -->

    <div id="contacts">
      <ul>
        <li
          class="contact"
          *ngFor="let contact of activeContactList"
          (click)="updateContactList(contact)"
          [ngClass]="{ active: isContactActive(contact) }"
        >
          <div class="wrap">
            <span class="contact-status online"></span>
            <img src="https://fakeimg.pl/449x449/" alt="" />
            <div class="meta">
              <p class="name">{{ contact }}</p>
              <p class="preview"></p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div> -->
  </div>
  <div class="content">
    <div class="contact-profile">
      <img src="https://fakeimg.pl/449x449/" alt="" />
      <p>{{ currentUser }}</p>
      <div class="social-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>

    <div class="messages">
      <ul>
        <li
          *ngFor="let msg of activeChatList"
          [ngClass]="msg.from === currentUser ? 'sent' : 'replies'"
        >
          <img src="https://fakeimg.pl/449x449/" alt="" />
          <p>{{ msg.content }}</p>
        </li>
      </ul>
    </div>

    <div class="message-input">
      <div class="wrap">
        <input
          [(ngModel)]="msgToBeSend"
          type="text"
          placeholder="Write your message..."
        />
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button
          class="submit"
          (click)="submit_message(msgToBeSend)"
          (keyup.enter)="submit_message(msgToBeSend)"
        >
          <i id="submit_btn" class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
